﻿@model ASPNETMvcGridDemo.Models.Employee

<h2>Add or Edit Form</h2>
@*Partial View for ->create new employee form*@
@using (Html.BeginForm("addoredit", "home", FormMethod.Post, new { id = "popupForm" }))
{
    //store employee Id, for edit purpose, first get employee id
    if (Model != null && Model.EmployeeID > 0)
    {
        @Html.HiddenFor(a => a.EmployeeID)
    }
    //add input field data
    <div class="form-group">
        <label>BadgeNo</label>
        @Html.TextBoxFor(a => a.BadgeNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.BadgeNo)
    </div>
    <div class="form-group">
        <label>First Name</label>
        @Html.TextBoxFor(a => a.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.FirstName)
    </div>
    <div class="form-group">
        <label>Last Name</label>
        @Html.TextBoxFor(a => a.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.LastName)
    </div>
    <div class="form-group">
        <label>Email</label>
        @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Email)
    </div>
    <div class="form-group">
        <label>City</label>
        @Html.TextBoxFor(a => a.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.City)
    </div>
    <div class="form-group">
        <label>State</label>
        @Html.TextBoxFor(a => a.State, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.State)
    </div>
    <div class="form-group">
        <label>Status</label>
        @Html.TextBoxFor(a => a.Status, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Status)
    </div>

    //to Submit the form
    <div>
        <input type="submit" value="Save"/>
    </div>
}
