﻿@model ASPNETMvcGridDemo.Models.Employee
<h2>Delete Employee</h2>
@*Partial View for ->delete employee form*@
@using (Html.BeginForm("delete", "home", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.EmployeeID)
    <div class="form-group">
        <label>BadgeNo</label>
        <p>@Model.BadgeNo</p>
    </div>
    <div class="form-group">
        <label>First Name</label>
        <p>@Model.FirstName</p>
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <p>@Model.LastName</p>
    </div>
    <div class="form-group">
        <label>Email</label>
        <p>@Model.Email</p>
    </div>
    <div class="form-group">
        <label>City</label>
        <p>@Model.City</p>
    </div>
    <div class="form-group">
        <label>State</label>
        <p>@Model.State</p>
    </div>

    <div class="form-group">
        <label>Status</label>
        <p>@Model.Status</p>
    </div>
    <div>
        <input type="submit" value="Delete"/>
    </div>

}

