﻿@*NOTE:  
    Author:  Vannak M. Nhong
    Create Date:  June 2019
    For this demo, I am working with jQuery libraries, where I use the Nuget Packate bootstrap by using
    the various css source codes and create them manully 
    Personal note => outside to ARMC network, right click on project name, select Manage NuGet Package...
*@


@{
    Layout = null;  // by default it is null in the layout page, if not specify
                    // the assign null, to explicitly saying that this is the final layout, when it is not nested in any super layout
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- Latest compiled and minified CSS -->
    @*<link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />*@
    @*SEARCHING and SORTING are part of this bootstrap.min.css*@
    
    <link href="~/Content/themes/base/bootstrap.min.css" rel="stylesheet" />

    @*<link rel="stylesheet" href = "https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"/>*@
    <link href="~/Content/themes/base/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div style="width:90%; margin:0 auto" class="tablecontainer"> 
        <div>
            <h2>Welcome to ARMC contact information Gridview Demo....</h2>
            <br />
            <br />

        </div>
    
        @*Popup link - Add new Employee*@
        @*<a class="popup btn btn-primary" href="/home/addoredit/0" style="margin-bottom:20px; margin-top:20px;">Add New Employee</a>*@
        <table id="mVNDb">
            <thead>
                <tr>
                    <th>BadgeNo</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Status</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
        <a class="popup btn btn-primary" href="/home/addoredit/0" style="margin-bottom:20px;margin-right:20px;">Add New Employee</a>


    </div>
    @*for the UI, I am using the jquery validation*@
    <script src="~/Scripts/jquery-3.1.1.min.js"></script> 
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>*@
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <script>
        //this will use the ajax to get the data table and display the data contents about HTML, using home controler action  
        $(document).ready(function () {
            var tableObject = $('#mVNDb').DataTable({
                "ajax": {
                    "url": '/home/GetEmployees',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "BadgeNo", "autoWidth": true },
                    { "data": "FirstName", "autoWidth": true },
                    { "data": "LastName", "autoWith": true },
                    { "data": "Email", "autoWidth": true },
                    { "data": "City", "autoWidth": true },
                    { "data": "State", "autoWidth": true },
                    { "data": "Status", "autoWidth": true },
                    {
                        //FOR Add data to the table with the ID for employee deletion
                        // data containts the employeeID
                        "data": "EmployeeID", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/home/addoredit/'+data+'">Edit</a>';
                        }
                    },
                    {
                        //FOR DELETE to the table with the ID for employee deletion
                        // data containts the employeeID
                        "data": "EmployeeID", "width": "50px", "render": function (data) {
                            return '<a class="popup" href="/home/delete/' + data + '">Delete</a>';
                        }
                    } 
                ]
            })
            $('.tablecontainer').on('click', 'a.popup', function (e) {
                e.preventDefault();
                OpenPopup($(this).attr('href'));
            })
            function OpenPopup(pageUrl) {
                //take the page Url contents and open in the jquery datamodel popup
                var $pageContent = $('<div/>');
                $pageContent.load(pageUrl, function () {
                    $('#popupForm', $pageContent).removeData('validator');
                    $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse('form');
                });
                $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                        .html($pageContent)
                        //data model popup
                    .dialog({
                        draggable: false,
                        autoOpen: false,
                        resizable: false,
                        model: true,
                        //title: 'Popup Dialog',
                        title: 'Add or Edit Dialog',
                        height: 550,
                        width: 600,
                        close: function () {
                            $dialog.dialog('destroy').remove();
                        }
                    })
                $('.popupWindow').on('submit', '#popupForm', function (e){
                    var url = $('#popupForm')[0].action;
                    //ajax to submit a form..
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: $('#popupForm').serialize(),
                        success: function (data) {
                            if (data.status) {
                                $dialog.dialog('close');  //close the data table
                                tableObject.ajax.reload();
                            }
                        }
                    })
                    e.preventDefault();
                })

                $dialog.dialog('open');
            }
        })
    </script>
</body>
</html>
