﻿@*@model ASPNETMvcGridDemo.Models.Employee
<asp:Content ID="Title" ContentPlaceHolderID="TitleContent" runat="server">
    record Not Found
</asp:Content>

<asp:Content ID="Main" ContentPlaceHolderID="MainContent" runat="server">

    <h2>Record Not Found</h2>

    <p>Sorry - you requested doesn't exist or was deleted.</p>

</asp:Content>*@

@model ASPNETMvcGridDemo.Models.Employee
<h2>Record Not Found</h2>
<p>Sorry - you request does not exist!!!</p>
@*Partial View for ->create new employee form*@
